p {
  font-family: "Poppins", sans-serif;
  font-size: 16px; }

.parrafo {
  font-size: 20px; }

h1 {
  font-family: "Josefin Sans", sans-serif; }

h2 {
  font-family: "Josefin Sans", sans-serif; }

h3 {
  font-family: "Josefin Sans", sans-serif; }

h4 {
  font-family: "Josefin Sans", sans-serif; }

h5 {
  font-family: "Josefin Sans", sans-serif; }

.tituloAzul {
  color: #1B538E;
  font-weight: bolder; }

@media (max-width: 575px) {
  .tituloAzul {
    font-size: 24px; } }

@media (min-width: 576px) {
  .tituloAzul {
    font-size: 30px; } }

label, select, input, textarea {
  font-family: "Poppins", sans-serif; }

header {
  background: white;
  border-bottom: solid 2px #5A5A5A; }

.menu__logo {
  height: 60px; }

header ul li {
  list-style: none; }
  header ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: black;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s; }
  header ul li a:hover, header ul li a:focus {
    background-size: 100% 2px;
    text-decoration: none;
    color: black; }

@media (max-width: 576px) {
  ul li {
    margin-top: 10px;
    margin-bottom: 10px; }
    ul li a {
      font-size: 18px; } }

@media (min-width: 577px) {
  ul li {
    margin-top: 10px;
    margin-bottom: 10px; }
    ul li a {
      font-size: 25px; } }

@media (min-width: 992px) {
  .marginNavLink {
    margin-right: 20px; }
  ul li a {
    font-size: 18px; } }

.tituloPagina {
  background: #000a24;
  background: linear-gradient(90deg, #000a24 0%, #3871e4 0%, #00d4ff 100%); }
  .tituloPagina h1 {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 60px; }

@media (max-width: 575px) {
  .tituloPagina {
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 50px; }
    .tituloPagina h1 {
      font-size: 45px; } }

@media (min-width: 576px) {
  .tituloPagina {
    padding-bottom: 80px;
    padding-top: 80px;
    margin-bottom: 40px; }
    .tituloPagina h1 {
      font-size: 50px; } }

@media (min-width: 768px) {
  .tituloPagina {
    padding-bottom: 90px;
    padding-top: 90px;
    margin-bottom: 90px; }
    .tituloPagina h1 {
      font-size: 55px; } }

@media (min-width: 992px) {
  .tituloPagina {
    padding-bottom: 100px;
    padding-top: 100px; }
    .tituloPagina h1 {
      font-size: 60px; } }

footer ul li {
  list-style: none; }
  footer ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    background-image: linear-gradient(white, white);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s; }
  footer ul li a:hover, footer ul li a:focus {
    background-size: 100% 2px;
    text-decoration: none; }

.footer {
  background-color: #000;
  clear: both;
  margin-top: 200px; }

.footer__negro {
  background-color: black; }

.footer__negro--tituloCeleste {
  color: #529EF2; }

.footer__negro--tituloBlanco {
  color: white;
  font-weight: bold; }

.footer__azul {
  background-color: #1B538E; }

.footer__azul--copyright {
  font-family: "Poppins", sans-serif;
  font-size: 16px; }

.seccion {
  margin-top: 100px;
  background-color: #1B538E;
  margin-bottom: 40px; }

.seccion__titulo {
  color: white;
  text-align: center;
  padding: 30px; }

@media (max-width: 575px) {
  .seccion__titulo {
    font-size: 30px; }
  .seccion {
    margin-top: 50px; } }

@media (min-width: 576px) {
  .seccion__titulo {
    font-size: 40px; }
  .seccion {
    margin-top: 50px; } }

@media (min-width: 768px) {
  .seccion__titulo {
    font-size: 45px; }
  .seccion {
    margin-top: 100px; } }

@media (min-width: 992px) {
  .seccion__titulo {
    font-size: 50px; } }

.flex {
  display: flex;
  flex-wrap: wrap; }

.rowCenter {
  flex-direction: row;
  justify-content: center; }

.rowSpaceBetween {
  flex-direction: row;
  justify-content: space-between; }

.columnCenter {
  flex-direction: column;
  justify-content: center; }

.columnSpaceBetween {
  flex-direction: column;
  justify-content: space-between; }

.columnSpaceAround {
  flex-direction: column;
  justify-content: space-around; }

.botonGrande {
  color: #fff;
  background-color: #439AF3;
  border: 1px solid transparent;
  border-color: #439AF3;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 20px;
  transition: 0.3s; }

.botonGrande:hover {
  background-color: #3C88D5;
  border-color: #3C88D5;
  color: #fff;
  text-decoration: none; }

/*Nosotros*/
.imgNosotros {
  transition: transform .2s; }

.imgNosotros:hover {
  transform: scale(1.05); }

.delay-1 {
  animation-delay: 0s; }

.delay-2 {
  animation-delay: 0.5s; }

.delay-3 {
  animation-delay: 1s; }

.delay-4 {
  animation-delay: 1.5s; }

/*Nosotros*/
/*Quiero vender*/
.cuadroImg {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  transition: transform .2s; }

.cuadroImg:hover {
  transform: scale(1.05); }

@media (max-width: 992px) {
  .tituloCompraIni {
    font-size: 25px; } }

@media (min-width: 992px) {
  .tituloCompraIni {
    font-size: 30px; } }

/*Quiero vender/*

/*Inicio*/
.backgroundCelesteSlide {
  background: #3225ff;
  background: linear-gradient(90deg, #3225ff 0%, #011fff 0%, #00a8ff 100%);
  padding: 20px; }

.backgroundNegroSlide {
  background: black;
  padding: 20px; }

.backgroundNaranjaSlide {
  background: #ffd825;
  background: linear-gradient(90deg, #ffd825 0%, #ffda01 0%, #ffab00 100%);
  padding: 20px; }

@media (max-width: 575px) {
  .textSize-1 {
    font-size: calc(1.6em + 1.6vw); }
  .textSize-2 {
    font-size: calc(2.2em + 2.2vw); }
  .textSize-3 {
    font-size: calc(1em + 1vw); }
  .slideTexto {
    width: 100%;
    text-align: center; } }

@media (min-width: 576px) {
  .textSize-1 {
    font-size: calc(1em + 1vw); }
  .textSize-2 {
    font-size: calc(1.5em + 1.5vw); }
  .textSize-3 {
    font-size: calc(0.8em + 0.8vw); }
  .slideTexto {
    width: 100%;
    text-align: unset; } }

@media (min-width: 768px) {
  .textSize-1 {
    font-size: calc(1.3em + 1.3vw); }
  .textSize-2 {
    font-size: calc(2em + 2vw); }
  .textSize-3 {
    font-size: calc(1.1em + 1.1vw); } }

@media (min-width: 992px) {
  .textSize-1 {
    font-size: calc(1.8em + 1.8vw); }
  .textSize-2 {
    font-size: calc(2.6em + 2.6vw); }
  .textSize-3 {
    font-size: calc(1.3em + 1.3vw); } }

.marcas__img {
  height: 150px;
  transition: transform .2s; }

@media (min-width: 576px) {
  .marcas__img:hover {
    transform: scale(1.1); } }

/*Inicio*/
/*Articulos*/
.cajaArticulo {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  transition: transform .2s; }

@media (min-width: 576px) {
  .cajaArticulo:hover {
    transform: scale(1.05); } }

.categorias ul li {
  list-style: none; }
  .categorias ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-decoration: none; }

/*Articulos*/
